* {
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color:hsl(0, 0%, 8%);
    align-items: center;
}

body{
    width: 400px;
    height: auto;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    font-family: "Inter", sans-serif; 
}

.div1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
}

p{
    margin: 5px;
    background: content-box;
}

.name{
    font-weight: 900;
    font-size: 24px;
}

.location{
    color: hsl(75, 94%, 57%);
    margin-bottom: 15px;
}

img {
    margin-top: 35px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.div2 button{
    /* justify-content: space-evenly; */
    justify-content: center;
    border-width: 0; /*pain point */
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 40px;
    width: 350px;
    margin: 5px;
    font-weight: bold;
    background-color: hsl(0, 0%, 20%);
}

.div2{
    justify-content: space-evenly;
    margin: 25px 0px;
    background: content-box;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.attribution{
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    align-items: flex-end;
}


.attribution a {
    color: hsl(228, 45%, 44%);
  }